.spinner,
.order-book {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bid-table {
  padding: 10px 10px 10px 0px;
}

.ask-table {
  padding: 10px 0px 10px 10px;
}

.symbols {
  display: block;
}
