.spinner,
.order-book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bid-table {
  padding: 0px 5px 0px 10px;
  flex-grow: 4;
}

.ask-table {
  padding: 0px 10px 0px 5px;
  flex-grow: 4;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 8px #ff0000;
}
